doctype html
html(lang="pl")
    head
        block config
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title='Turnieje Szachowe - '+title
        link(rel="stylesheet" href="/css/bootstrap.min.css")
        link(rel="stylesheet" href="/css/bootstrap.css")
    body
        include nav
        block content-body
        include footer
        include scripts