nav(aria-label="breadcrumb")
        nav(aria-label="breadcrumb")
        ol(class="breadcrumb d-flex flex-row justify-content-center align-items-center")
            li(class="breadcrumb-item")
                a(href=("/editTournament?id=" + tournamentID)) Szczegóły Turnieju
            li(class="breadcrumb-item")
                a(href=("/pairTournament?id=" + tournamentID)) Parowanie rundy
            li(class="breadcrumb-item")
                a(href=("/standings?id=" + tournamentID)) Wyniki