extends shared\shared

block config
    -
        var title = 'Kontakt'

block content-body
    div(class="container")
        h3 Autor:
        h4 Mateusz Tarasek
        h3 e-mail:
        h4 mateusz.tarasek@smcebi.edu.pl        