extends shared\shared

block config
    link(rel="stylesheet" href="css\\index.css" type='text/css')
    -
        var title = 'Strona Główna'
        

block content-body
    div(class="text-center background d-flex justify-content-between flex-column")
        h2(class="display-4 text-light") Witaj na platformie umożliwiającej przeprowadzanie turniejów szachowych
        div(class="container d-flex justify-content-center align-items-center")
            a(role="button" class="btn btn-primary h-50" href="/createTournament")
                h4 Stwórz Turniej
            p(class='display-4 text-light m-5') lub
            a(role="button" class="btn btn-primary h-50" href="/findTournament") 
                h4 Wyszukaj Turniej


        h3(class="m-5 text-light font-weight-light")
            p "Szachy to narzędzie, które poprawia umiejętność nabywania wiedzy przez dzieci" - 
                small(class='font-italic text-light font-weight-light') Garri Kasparow