extends shared\shared

block config
    -
        var title = 'Informacje'

block content-body
    div(class='container m-5')
        h1 Informacje
        p Projekt ma na celu poszerzenie dostępności narzędzi umożliwiających przeprowadzanie turniejów szachowych wśród graczy amatorskich - w szególności w szkołach.